.sub-title {
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}
.floating-button {
    top: 2rem;
}

.csv-download-button {
    right: 2rem;
    float: right;
}

.log-file-button {
    left: 2rem:
    float: left;
}

.floating-button button {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #4faaf9;
    color: #2e2e2e;
    border-radius: 50%;
    z-index: 10;
    transition: all ease-in-out 0.3s;
}
.floating-button button:hover {
    background-color: #f7744c;
}
.floating-button i::before {
    font-size: 1rem;
    text-shadow: 0 0 0.2rem black;
}
@media screen and (min-width: 577px) {
    .floating-button button {
        width: 5rem;
        height: 5rem;
    }
    .floating-button i::before {
        font-size: 2rem;
        text-shadow: 0 0 0.3rem black;
    }
}

canvas {
    min-height: 50vh;
    width: 100%;
    border: 1px solid #2e2e2e;
    border-radius: 0.25rem;
}

.table-responsive {
    max-height: 75vh;
    overflow-y: auto;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}


